.dealwhiteMain{
    background-color: white;
    padding: 20px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 15px;
    margin: 0px 20px;

}
a{
    text-decoration: none;
    color: black;
    
}
.imageSet{
   
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    min-width: 150px;
    padding: 0px 10px;
}
.imageSet img{
    height: 150px;
    width: 160px;
}
.productNameInsideWhite{
    text-align: center;
}
@media (width < 1000px){
     
    .imageSet{
        display: flex;
        align-items: center;
        
    }
    .imageSet img{
      
        height: 120px ;
        width: 150px;
    }
    .productNameInsideWhite{
        font-size: 15px;
    }
}
@media screen and ( width < 900px) {
    .spaceImage{
        margin-left: 120px;
    }
}
@media screen and ( width < 750px) {
    .spaceImage{
        margin-left: 220px;
    }
}
@media screen and ( width < 650px) {
    .spaceImage{
        margin-left: 320px;
    }
}
@media screen and ( width < 550px) {
    .spaceImage{
        margin-left: 420px;
    }
}
@media screen and ( width < 450px) {
    .spaceImage{
        margin-left: 520px;
    }
}