
.footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(115, 226, 139);
    font-weight: bold;
    padding: 15px;
}
.footerfirst p{
    font-size: 15px;
}
.footerlast{
    background-color: black;
    color: white;
}
.footerlast p{
    text-align: center;
    padding: 5px;
    font-weight: 600;
}
.footersecond{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
   height: fit-content;

}
.footericons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}



.footerthird span{
    font-size: 15px;
}

@media all and (min-width:320px) and (max-width:600px){
    .footer{
        height: 200px;
        display: grid;
        grid-template-areas:
        "fir third"
        "sec  sec"      ;
    }
    .footerfirst{
        grid-area: fir;
    }
    .footerthird{
        grid-area: third;
    }
    .footersecond{
       grid-area: sec;
       margin: 0 auto;
       margin-top: 10px;
       gap: 5px;
    } 
    .footerlast p{
        font-size: 15px;
    }
    .footerthird h3{
        text-align: center;
    }
}