


.footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(115, 226, 139);
    font-weight: bold;
    padding: 15px;
}
.footerfirst{
   display: flex;
   flex-direction: column;
   align-items: space-between;
   gap: 5px;
}
.footerfirst p{
    font-size: 15px;
}
.footerfirst p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footerlast{
    background-color: black;
    color: white;
}
.footerlast p{
    text-align: center;
    padding: 5px;
    font-weight: 600;
    cursor: default;
}
.footersecond{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
   height: fit-content;

}
.footersecond h3{
    cursor: default;
}
.footericons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.footerthird{
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: default;
}
.footerthird h3{
    font-size: 20px;
    font-weight: 750;
}

.footwrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-size: 15px;

}

@media all and (min-width:320px) and (max-width:600px){
    .footer{
        
        display: grid;
        grid-template-areas:
        "fir third"
        "sec  sec"      ;
        padding: 10px 5px;
    }
    .footerfirst{
        grid-area: fir;
    }
    .footerthird{
        grid-area: third;
    }
    .footersecond{
       grid-area: sec;
       margin: 0 auto;
       margin-top: 10px;
       gap: 5px;
    } 
    .footerlast p{
        font-size: 15px;
    }
}