
.navMain{
    overflow-x: hidden;
    width: 100%;
}
.firstnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(217,255,225);
    gap: 20px;
    padding: 13px 10px;
}
.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  0px 20px;
}
.searchdiv{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 25px;  
    position: relative;
    flex-shrink: 3;
}
.searchdiv input{
    height: 40px;
    min-width: 300px;
    width: 45vw;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 15px;
    font-size: 17px;
}

.searchdiv .headericon{
    padding: 4px;
    background-color: green;
    border-radius: 50%;
    scale: 1.3;
    color: white;
    position: absolute;
    right: 15px;
    font-size: 20px;
    pointer-events: none;
    
}
/* icons css */
.icondiv{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.headericon{
    font-size: 25px;

}
.headericon:hover{
    scale: 1.2;
    transition: scale 0.2s ease-out;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.part2 i{
    font-size: 24px;
}
.part2 i:hover{
    scale: 1.1;
    transition: scale 0.5;
    cursor: pointer;
}
.menu{
    display: none;
}
.secondnav{
    background-color: green;
    color: white;
}
.itemlist{
    width: 100%;
    height: 100%;
    padding: 10px 10px;

    list-style: none;
    display: flex;
    justify-content: space-around;
}
.secondnav ul li{
    font-size: 20px;
    cursor: default;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.secondnav ul li:hover{
    border-bottom: 2px solid white;
    transition: border-bottom 0.4s;
}
/* menu icon */
.menuicon{
    position: absolute;
    left: 0px;
    color: white;
    display: none;
}

@media screen and (width < 900px) {
    .secondnav{
        display: none;
    }
    .firstnav{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        padding-top: 10px;
        gap: 5px;

    }
    .part2{
        width: 100%;
        justify-content: space-around;
        background-color: green;
        height: 60px;

    }
    .headericon{
      
        color: white;
    }
    .icondiv{
        gap:40px
    }
    .menuicon{
        display: block;
        position: absolute;
        top: 68px;
        margin: 0px 10px;
        font-size: 40px;
    }
}
@media screen and (width < 750px) {
    .part2{
        padding-left: 58px;
    }
}
@media screen and (width < 600px) {
    .icondiv{
        gap: 15px;
    }
}
@media screen and (width < 500px) {
     .firstnav{
        padding: 7px 0px;
     }
    .part1 h1{
        font-size: 25px;
    }
    .headericon{
        font-size: 22px;
    }
    .searchdiv input{
        height: 35px;
        max-width: auto;
        min-width: 200px;
        
    }
    .searchdiv .headericon{
        display: none;
    }
    .part2{
        gap:5px
    }
    .icondiv{
        gap:15px
    }
    .menuicon{
        top: 59px;
        font-size: 35px;
    }

}